.introducao-bg {
  background: var(--cor-11);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 120px;
  padding-top: 80px;
  padding-bottom: 120px;
  animation: show-up .8s forwards;
}

.introducao img {
  place-self: end;
}

.introducao-conteudo {
  align-self: center;
}

.introducao-conteudo h1 {
  margin: 8px 0px;
}

.introducao-icons {
  display: flex;
  margin-top: 24px;
  gap: 48px;
}

.introducao-icons a {
  display: flex;
  align-items: center;
  border: 1px solid var(--cor-p3);
  border-radius: 5px;
  padding: 16px 40px 11px 40px;
  color: var(--cor-00);
  transition: 0.3s;
}

.introducao-icons a:hover,
.introducao-icons a img {
  color: var(--cor-p1);
}

.introducao-icons a img {
  margin-bottom: 5px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao > img {
    display: none;
  }

  .introducao-conteudo {
    margin: 0 auto;
    text-align: center;
  }

  .introducao-icons {
    margin: 1rem auto;
  }

  .introducao-conteudo {
    font-size: 1.5rem;
  }
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media(max-width: 800px) {
  .introducao-icons a {
    padding: 12px 30px 8px 30px;
  }
}